#!/usr/bin/env python3
# Copyright (c) 2017 Iqua Robotics SL - All Rights Reserved
#
# This file is subject to the terms and conditions defined in file
# 'LICENSE.txt', which is part of this source code package.


PACKAGE = "cola2_safety"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("north_origin",    double_t,    0, "Initial north for virtual cage", -100.0,  -500.0, 500.0)
gen.add("east_origin", 	double_t, 0, "Initial east for virtual cage", -100.0, -500.0, 500.0)
gen.add("north_longitude",    double_t,    0, "Virtual cage north longitude", 200.0,  0.0, 1000.0)
gen.add("east_longitude", 	double_t, 0, "Virtual cage east longitude", 200.0, 0.0,   1000.0)
gen.add("enable", 	bool_t, 0, "Enable virtual cage", True)

exit(gen.generate(PACKAGE, "cola2_safety", "VirtualCageInfo"))
