<!-- THIS LAUNCH FILE IS INTENDED TO BE USED FROM THE NODE cola2_lib bag_node.py -->
<launch>
    <arg name="robot_name"/>
    <!--group ns="$(arg robot_name)"-->
        <node name="record_auv_bag" output="screen" pkg="rosbag" type="record" args="
            -a -x '(.*)stereo_camera(.*)
                  |(.*)octo(.*)
                  |(.*)camera(.*)
                  |(.*)guppy(.*)'
            --split --size 2048 -o $(env HOME)/bags/$(arg robot_name)" />

        <node name="record_auv_image" output="screen" pkg="rosbag" type="record" args="
            navigator/odometry
            navigator/navigation
	        camera/camera_info
	        camera/image_raw
            camera/image_color
            guppy/camera/camera_info
            guppy/camera/image_raw
            stereo_camera/left/camera_info
            stereo_camera/left/image_raw
            stereo_camera/right/camera_info
            stereo_camera/right/image_raw
            --split --size 2048 -o $(env HOME)/bags/$(arg robot_name)_image" />
    <!--/group-->   
</launch>
